ShopNum1.ShopAdminWebControl/Service References/TJAPIzl/MemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://membersystem.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://membersystem.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://membersystem.com/">
      <s:element name="MemberInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Placement" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direct" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LevelInt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileTele" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaperNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BankAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BankCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BankBook" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RegisterDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberOrders" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TotalMoney" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TotalPv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IsAgain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberOrderBack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberOrderBackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberOrderBackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MemberInfoSoapIn">
    <wsdl:part name="parameters" element="tns:MemberInfo" />
  </wsdl:message>
  <wsdl:message name="MemberInfoSoapOut">
    <wsdl:part name="parameters" element="tns:MemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MemberOrderSoapIn">
    <wsdl:part name="parameters" element="tns:MemberOrder" />
  </wsdl:message>
  <wsdl:message name="MemberOrderSoapOut">
    <wsdl:part name="parameters" element="tns:MemberOrderResponse" />
  </wsdl:message>
  <wsdl:message name="MemberOrderBackSoapIn">
    <wsdl:part name="parameters" element="tns:MemberOrderBack" />
  </wsdl:message>
  <wsdl:message name="MemberOrderBackSoapOut">
    <wsdl:part name="parameters" element="tns:MemberOrderBackResponse" />
  </wsdl:message>
  <wsdl:message name="MemberInfoHttpGetIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="Placement" type="s:string" />
    <wsdl:part name="Direct" type="s:string" />
    <wsdl:part name="LevelInt" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="Sex" type="s:string" />
    <wsdl:part name="MobileTele" type="s:string" />
    <wsdl:part name="PaperNumber" type="s:string" />
    <wsdl:part name="BankName" type="s:string" />
    <wsdl:part name="BankAddress" type="s:string" />
    <wsdl:part name="BankCard" type="s:string" />
    <wsdl:part name="BankBook" type="s:string" />
    <wsdl:part name="RegisterDate" type="s:string" />
    <wsdl:part name="PetName" type="s:string" />
    <wsdl:part name="MemberOrders" type="s:string" />
    <wsdl:part name="md5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderHttpGetIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="TotalMoney" type="s:string" />
    <wsdl:part name="TotalPv" type="s:string" />
    <wsdl:part name="IsAgain" type="s:string" />
    <wsdl:part name="OrderType" type="s:string" />
    <wsdl:part name="OrderDate" type="s:string" />
    <wsdl:part name="md5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderBackHttpGetIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="OrderType" type="s:string" />
    <wsdl:part name="md5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderBackHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MemberInfoHttpPostIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="Placement" type="s:string" />
    <wsdl:part name="Direct" type="s:string" />
    <wsdl:part name="LevelInt" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="Sex" type="s:string" />
    <wsdl:part name="MobileTele" type="s:string" />
    <wsdl:part name="PaperNumber" type="s:string" />
    <wsdl:part name="BankName" type="s:string" />
    <wsdl:part name="BankAddress" type="s:string" />
    <wsdl:part name="BankCard" type="s:string" />
    <wsdl:part name="BankBook" type="s:string" />
    <wsdl:part name="RegisterDate" type="s:string" />
    <wsdl:part name="PetName" type="s:string" />
    <wsdl:part name="MemberOrders" type="s:string" />
    <wsdl:part name="md5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderHttpPostIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="TotalMoney" type="s:string" />
    <wsdl:part name="TotalPv" type="s:string" />
    <wsdl:part name="IsAgain" type="s:string" />
    <wsdl:part name="OrderType" type="s:string" />
    <wsdl:part name="OrderDate" type="s:string" />
    <wsdl:part name="md5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderBackHttpPostIn">
    <wsdl:part name="Number" type="s:string" />
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="OrderType" type="s:string" />
    <wsdl:part name="md5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberOrderBackHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MemberServiceSoap">
    <wsdl:operation name="MemberInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">会员注册&lt;br/&gt;Number:会员编号</wsdl:documentation>
      <wsdl:input message="tns:MemberInfoSoapIn" />
      <wsdl:output message="tns:MemberInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">升级补单</wsdl:documentation>
      <wsdl:input message="tns:MemberOrderSoapIn" />
      <wsdl:output message="tns:MemberOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberOrderBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">退单处理</wsdl:documentation>
      <wsdl:input message="tns:MemberOrderBackSoapIn" />
      <wsdl:output message="tns:MemberOrderBackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberServiceHttpGet">
    <wsdl:operation name="MemberInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">会员注册&lt;br/&gt;Number:会员编号</wsdl:documentation>
      <wsdl:input message="tns:MemberInfoHttpGetIn" />
      <wsdl:output message="tns:MemberInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">升级补单</wsdl:documentation>
      <wsdl:input message="tns:MemberOrderHttpGetIn" />
      <wsdl:output message="tns:MemberOrderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberOrderBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">退单处理</wsdl:documentation>
      <wsdl:input message="tns:MemberOrderBackHttpGetIn" />
      <wsdl:output message="tns:MemberOrderBackHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberServiceHttpPost">
    <wsdl:operation name="MemberInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">会员注册&lt;br/&gt;Number:会员编号</wsdl:documentation>
      <wsdl:input message="tns:MemberInfoHttpPostIn" />
      <wsdl:output message="tns:MemberInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">升级补单</wsdl:documentation>
      <wsdl:input message="tns:MemberOrderHttpPostIn" />
      <wsdl:output message="tns:MemberOrderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberOrderBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">退单处理</wsdl:documentation>
      <wsdl:input message="tns:MemberOrderBackHttpPostIn" />
      <wsdl:output message="tns:MemberOrderBackHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberServiceSoap" type="tns:MemberServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MemberInfo">
      <soap:operation soapAction="http://membersystem.com/MemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrder">
      <soap:operation soapAction="http://membersystem.com/MemberOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrderBack">
      <soap:operation soapAction="http://membersystem.com/MemberOrderBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServiceSoap12" type="tns:MemberServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MemberInfo">
      <soap12:operation soapAction="http://membersystem.com/MemberInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrder">
      <soap12:operation soapAction="http://membersystem.com/MemberOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrderBack">
      <soap12:operation soapAction="http://membersystem.com/MemberOrderBack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServiceHttpGet" type="tns:MemberServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="MemberInfo">
      <http:operation location="/MemberInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrder">
      <http:operation location="/MemberOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrderBack">
      <http:operation location="/MemberOrderBack" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServiceHttpPost" type="tns:MemberServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="MemberInfo">
      <http:operation location="/MemberInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrder">
      <http:operation location="/MemberOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberOrderBack">
      <http:operation location="/MemberOrderBack" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="MemberServiceSoap" binding="tns:MemberServiceSoap">
      <soap:address location="http://webservice.abt6666.com/Service/MemberService.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServiceSoap12" binding="tns:MemberServiceSoap12">
      <soap12:address location="http://webservice.abt6666.com/Service/MemberService.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServiceHttpGet" binding="tns:MemberServiceHttpGet">
      <http:address location="http://webservice.abt6666.com/Service/MemberService.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServiceHttpPost" binding="tns:MemberServiceHttpPost">
      <http:address location="http://webservice.abt6666.com/Service/MemberService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>