ShopNum1.Webservice/Web References/CreateOrderTJ88/Qhtj88CreateOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemloginNO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LevelType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="CreateOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrderHttpGetIn">
    <wsdl:part name="md5" type="s:string" />
    <wsdl:part name="MemloginNO" type="s:string" />
    <wsdl:part name="LevelType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateOrderHttpGetOut" />
  <wsdl:message name="CreateOrderHttpPostIn">
    <wsdl:part name="md5" type="s:string" />
    <wsdl:part name="MemloginNO" type="s:string" />
    <wsdl:part name="LevelType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateOrderHttpPostOut" />
  <wsdl:portType name="Qhtj88CreateOrderSoap">
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderSoapIn" />
      <wsdl:output message="tns:CreateOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Qhtj88CreateOrderHttpGet">
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderHttpGetIn" />
      <wsdl:output message="tns:CreateOrderHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Qhtj88CreateOrderHttpPost">
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderHttpPostIn" />
      <wsdl:output message="tns:CreateOrderHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Qhtj88CreateOrderSoap" type="tns:Qhtj88CreateOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Qhtj88CreateOrderSoap12" type="tns:Qhtj88CreateOrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap12:operation soapAction="http://tempuri.org/CreateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Qhtj88CreateOrderHttpGet" type="tns:Qhtj88CreateOrderHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CreateOrder">
      <http:operation location="/CreateOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Qhtj88CreateOrderHttpPost" type="tns:Qhtj88CreateOrderHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CreateOrder">
      <http:operation location="/CreateOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Qhtj88CreateOrder">
    <wsdl:port name="Qhtj88CreateOrderSoap" binding="tns:Qhtj88CreateOrderSoap">
      <soap:address location="http://www.tj88.com/Service/Qhtj88CreateOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="Qhtj88CreateOrderSoap12" binding="tns:Qhtj88CreateOrderSoap12">
      <soap12:address location="http://www.tj88.com/Service/Qhtj88CreateOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="Qhtj88CreateOrderHttpGet" binding="tns:Qhtj88CreateOrderHttpGet">
      <http:address location="http://www.tj88.com/Service/Qhtj88CreateOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="Qhtj88CreateOrderHttpPost" binding="tns:Qhtj88CreateOrderHttpPost">
      <http:address location="http://www.tj88.com/Service/Qhtj88CreateOrder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>